### 선형 리스트(Linear List)

In [15]:
katok = ['다현', '정현', '쯔위', '사나', '지효']

In [6]:
print(id(katok[0]))
print(id(katok[1]))
print(id(katok[2]))
print(id(katok[3]))

1215916602160
1215916601872
1215916601776
1215916601488

In [7]:
katok[0]

'다현'

In [8]:
katok[4]

'지효'

#### 배열이라고 가정
- 데이터 마지막에 추가하려면
    1. 배열에 마지막에 빈공간을 생성
    2. 데이터 추가

In [16]:
katok.append(None)
katok

['다현', '정현', '쯔위', '사나', '지효', None]

In [17]:
katok[len(katok)-1] = '모모'
katok

['다현', '정현', '쯔위', '사나', '지효', '모모']

- 데이터를 중간에 추가하려면
    1. 배열의 마지막에 빈공간 추가
    2. 데이터를 추가할 위치까지 이전 데이터를 뒤로 Shift
    3. 중간 빈 위치에 새 데이터를 추가
- insert() 라는 함수를 쓸 수 없음

In [18]:
katok

['다현', '정현', '쯔위', '사나', '지효', '모모']

In [19]:
# 맨 마지막에 빈공간을 생성
katok.append(None)
katok

['다현', '정현', '쯔위', '사나', '지효', '모모', None]

In [21]:
# 하나씩 뒤로 보내기(Shift)
katok[6] = katok[5]
katok[5] = None
katok

['다현', '정현', '쯔위', '사나', '지효', None, '모모']

In [22]:
# 계속 이동
katok[5] = katok[4]
katok[4] = None
katok[4] = katok[3]
katok[3] = None
katok

['다현', '정현', '쯔위', None, '사나', '지효', '모모']

In [23]:
# 빈자리에 미나 추가
katok[3] = '미나'
katok

['다현', '정현', '쯔위', '미나', '사나', '지효', '모모']

- 데이터 삭제
    1. 위치의 값을 None로 변경
    2. None이 된 빈 위치에 오른쪽으로 데이터를 이동, 그 자리는 None
    3. 배열의 마지막이 None 될 때까지 반복
    4. del(array[index]) 삭제

#### 선형리스트 일반 구형
- da03_linear_list.py로 구현